/*colores*/
/*medidas*/
/*menu de navegacion*/
body {
  padding: 20px;
}

header {
  width: 100%;
}
header nav {
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
  max-width: 1300px;
  background-color: #E8C023;
  font-size: 20px;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover {
  color: red;
}
header nav ul li a span {
  margin-right: 10px;
}

/*fin menu de navegacion*/
/* navegador para mobile*/
@media only screen and (max-width: 800px) {
  header nav ul li {
    float: none;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    overflow: hidden;
  }
}
/*fin de navegacion */
/*footer*/
/*footer*/
.piedepagina {
  display: flex;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.piedepagina .redsocial {
  display: flex;
  justify-content: center;
}
.piedepagina .redsocial .a {
  text-decoration: none;
  color: #E8C023;
  width: 100px;
  height: 100px;
  font-size: 50px;
  line-height: 75px;
  margin-right: 10px;
  transition: all 300ms ease;
}
.piedepagina .redsocial .a:hover {
  color: red;
}

/* footer para mobile*/
@media only screen and (max-width: 800px) {
  .redsocial a {
    text-decoration: none;
    color: #E8C023;
    width: 100px;
    height: 100px;
    font-size: 10px;
    line-height: 75px;
    margin-right: 10px;
    transition: all 300ms ease;
  }
}
/*fin de footer*/
/*banner*/
.banner {
  image-orientation: from-image;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-style: inset;
}

/* fin de banner */
/* estilo de hr */
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: #E8C023;
  margin-bottom: 50px;
}

/*pagina de inicio*/
div img {
  image-orientation: from-image;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/*foto de inicio con efecto */
.inicio-2 {
  margin: auto;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s;
}

.inicio-2 img {
  height: 100%;
  width: 100%;
}

@keyframes un_efecto {
  0% {
    width: 80%;
  }
  50% {
    width: 90%;
    background-color: white;
  }
  100% {
    width: 100%;
    background-color: #E8C023;
  }
}
/* pagina de novedades */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* fotos promo en mobile*/
@media screen and (max-width: 800px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.promo {
  max-height: 80%;
  max-width: 80%;
  position: relative;
  margin-top: 30px;
  image-orientation: from-image;
  border-style: inset;
  border-top: solid 10px black;
  border-right: solid 10px black;
  border-bottom: solid 10px black;
  border-left: solid 10px black;
}

.texto, .textonosotros h3, .textonosotros h2 {
  text-align: center;
  color: #E8C023;
  font-weight: 500;
}

/* pagina nosotros */
.textonosotros {
  margin: auto;
  padding: 40px 40px 40px 40px;
}

.textonosotros h1 {
  text-align: center;
  color: white;
  font-weight: 500;
  background-color: #E8C023;
}

.textonosotros h4 {
  color: white;
  background-color: #E8C023;
}

/*texto de inicio */
.parrafo-inicio {
  color: #E8C023;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

/*pagina mapa de servicio*/
iframe {
  width: 70vw;
  height: 70vw;
}

.mapa {
  text-align: center;
}

/* pagina contacto*/
.formulario {
  padding: 20px;
  text-align: center;
  border-top: solid 5px black;
  border-left: solid 5px black;
  border-right: solid 5px black;
  border-bottom: solid 5px black;
}

.formulario label {
  display: block;
}

.formulario button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button {
  color: white;
  background-color: #E8C023;
}

/*# sourceMappingURL=main.css.map */
