@charset "UTF-8";
/*colores*/
/*tamaños y tipos de fuentes*/ /*padding y margins*/
.navegacion-principal {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 500;
  background-color: #E8C023;
  display: flex;
  border-style: inset;
  justify-content: space-around;
}
.navegacion-principal:hover {
  color: red !important;
}
.navegacion-principal a:link, .navegacion-principal a:visited, .navegacion-principal a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 18px;
  float: left;
  display: block;
  text-align: center;
}

/* navegador para mobile*/
@media only screen and (max-width: 600px) {
  .navegacion-principal a {
    float: none;
    width: 100%;
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .parrafo-inicio {
    background-color: orange;
    color: white;
    font-size: 8px;
    font-weight: 500;
    text-align: center;
  }
}
/*fin de navegacion */
/*banner*/
.banner {
  image-orientation: from-image;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-style: inset;
}

/* fin de banner */
/*footer*/
.piedepagina {
  width: 100%;
  display: flexbox;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.piedepagina .redsocial {
  display: flex;
  justify-content: center;
}
.piedepagina .redsocial a {
  text-decoration: none;
  color: #E8C023;
  width: 100px;
  height: 100px;
  font-size: 50px;
  line-height: 75px;
  margin-right: 10px;
  transition: all 300ms ease;
}
.piedepagina .redsocial:hover {
  color: blue;
}

/* footer para mobile*/
@media only screen and (max-width: 800px) {
  .redsocial a {
    text-decoration: none;
    color: #E8C023;
    width: 100px;
    height: 100px;
    font-size: 10px;
    line-height: 75px;
    margin-right: 10px;
    transition: all 300ms ease;
  }
}
/*fin de footer*/
/* estilo de hr */
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: #E8C023;
  margin-bottom: 50px;
}

/*pagina de inicio*/
div img {
  image-orientation: from-image;
  height: auto;
  width: auto;
  max-height: 50%;
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

/*foto de inicio con efecto */
.inicio-2 {
  margin: auto;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s;
}

.inicio-2 img {
  height: 70%;
  width: 70%;
}

@keyframes un_efecto {
  0% {
    width: 80%;
  }
  50% {
    width: 90%;
    background-color: white;
  }
  100% {
    width: 100%;
    background-color: E8C023;
  }
}
/* pagina de novedades */
.promo {
  max-height: 80%;
  max-width: 80%;
  position: relative;
  margin-top: 30px;
  image-orientation: from-image;
  border-style: inset;
  border-top: solid 5px black;
  border-right: solid 10px black;
  border-bottom: solid 7px black;
  border-left: solid 12px black;
}

/* pagina nosotros */
.textonosotros {
  margin: auto;
  padding: 40px 40px 40px 40px;
}
.textonosotros h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: #E8C023;
}
.textonosotros h2 {
  text-align: center;
  color: #E8C023;
  font-weight: 500;
}
.textonosotros h3 {
  text-align: center;
  color: #E8C023;
  font-weight: bolder;
}
.textonosotros h4 {
  color: white;
  background-color: #E8C023;
}

/*texto de inicio */
.parrafo-inicio {
  background-color: orange;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/*pagina mapa de servicio*/
.mapa {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* pagina contacto*/
.formulario {
  text-align: center;
}
.formulario label {
  display: block;
}
.formulario button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
