

  /* estilo de hr */
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: $naranja;
    margin-bottom: 50px;
  }
  
  /*pagina de inicio*/
  
  
  div img {
    image-orientation: from-image;
    height: auto;
    width: auto;
    max-height: $largo;
    max-width: $ancho;
    display: block;
    margin: 0 auto;
  }
  
  
  
  
  /*foto de inicio con efecto */
  .inicio-2 {
    margin: auto;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
  }
  
  .inicio-2 img {
    height: $largo;
    width: $ancho;
  }
  
  @keyframes un_efecto {
    0% {
      width: 80%;
    }
  
    50% {
      width: 90%;
      background-color: $blanco;
    }
  
    100% {
      width: $ancho;
      background-color: $naranja;
    }
  }

  /* pagina de novedades */


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  }
  
  /* fotos promo en mobile*/
  
  @media screen and (max-width: 800px) {
  
    .gallery-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  .promo {
    max-height: 80%;
    max-width: 80%;
    position: relative;
    margin-top: 30px;
    image-orientation: from-image;
    border-style: inset;
    border-top: solid 10px $negro;
    border-right: solid 10px $negro;
    border-bottom: solid 10px $negro;
    border-left: solid 10px $negro;
  }
  
  