@mixin flex-center-nonestyle {
  display: flex;
  justify-content: center;
  list-style: none;
}




/*menu de navegacion*/

body {
  padding: $padding;
}

header {
  width: $ancho;

  nav {
    justify-content: space-around;
    width: $ancho;
    margin: 0 auto;
    background-color: $naranja;
    font-size: 20px;

    @include tablet {

      background-color: $negro;
      font-size: 18px;
    }

    @include mobile {

      background-color: $negro;
      font-size: 15px;
    }

    ul {
      @include flex-center-nonestyle;

      @include mobile {

        display: flex;
        flex-direction: column;
        overflow: hidden;
        list-style: none;
        align-items: center;

      }


      li {
        float: left;

        @include tablet {
          float: none;
          display: inline-block;
        }


        a {
          color: $blanco;
          padding: $padding;
          display: block;
          text-decoration: none;
          font-weight: bold;

          &:hover {

            color: $rojo;
          }

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/*fin menu de navegacion*/

/*footer*/


.piedepagina {
  display: flex;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;

  .redsocial {
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: $naranja;
      width: 100px;
      height: 100px;
      font-size: 50px;
      line-height: 75px;
      margin-right: 10px;
      transition: all 300ms ease;

      @include mobile {

        font-size: 30px;
        color: $negro;
      }

      @include tablet {

        font-size: 30px;
        color: $negro;

      }

      &:hover {
        color: red;
      }
    }
  }
}





/*fin de footer*/