


/*en comun con todas las paginas: banner, navegacion y footer.*/

/*NAVEGACION */

   
   .navegacion-principal {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 500;
    background-color: orange;
    display: flex;
    border-style: inset;
    justify-content: space-around;
    
        
 }


 a:link, a:visited, a:active a:hover {
   
   text-decoration:none;
   color: white;
   font-weight: bold;
   padding: 20 px;
          
  
}



/*fin de navegacion */







/*banner*/

.banner {

    image-orientation: from-image;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-style: inset;

   }

/* fin de banner */

/*inicio footer */

.redes{
    min-width: 700px;
    display: flex;
    justify-content: space-around;

   
} 
.redes a {
   
    width: 60px;
    height: 60px;
   
}


/*fin footer*/

/* estilo de hr */

hr { 
    position: relative; 
    top: 20px; 
    border: none; 
    height: 12px; 
    background: orange; 
    margin-bottom: 50px; 
} 



/*pagina de inicio*/

div img {
    
    image-orientation: from-image;
    height: auto;
    width: auto;
    max-height: 1000px;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
   }





/* pagina de novedades */

.promo{

   
    max-height: 120%;
    max-width: 120%;
    position: relative;
    image-orientation: from-image;
    border-style: inset;
    border-top:solid 5px black;
    border-right:solid 10px black;
    border-bottom:solid 7px black;
    border-left:solid 12px black;
        

    
    }


/* pagina nosotros */

.textonosotros{

    margin: auto;
    padding: 40px 40px 40px 40px;
}

h1 { 
    
text-align: center;
color: white;
font-weight: 600;
background-color: orange;

}

h2 {

    text-align: center;
    color: orange;
    font-weight: 500;
}

h3 {
    text-align: center;
    color: orange;
    font-weight: bolder;
}

h4 {color: white;
background-color: orange;}




/*pagina mapa de servicio*/

.mapa {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* pagina contacto*/

.formulario{

    text-align: center;
   
        
}

label{
    display: block;
}

button{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
